path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  fill: #fff;
}

text:hover, path:hover {
	cursor: pointer;
}

.d3-chart-tooltip {
	position: absolute;
	padding: 5px 10px;
	background: #f7f7f7;
	border: 0px solid #999999;
	border-radius: 5px;
	color: #000;
	pointer-events: none;
	min-width: 100px;
	z-index: 1;
	text-align: center;
	opacity: 0;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
}